<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="Stylesheet" href="/resources/css/custom.css">
<link rel="Stylesheet" href="/resources/css/bootstrap.css">
<title>LucaTinder</title>
</head>
<body>
	<div>
		<h1>Contactos</h1>
		<h2>Mi perfil</h2>
		<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Edad</th>
				<th>Género</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span th:text="${perfil.nombre}"></span></td>
				<td><span th:text="${perfil.edad}"></span></td>
				<td><span th:text="${perfil.genero}"></span></td>
			</tr>
		</tbody>
		<hr>
		</table>
		<h2>Contactos</h2>
		<table>
		<thead>
			<tr>
				<th>Dislike</th>
				<th>Nombre</th>
				<th>Edad</th>
				<th>Género</th>
				<th>Like</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="perfiles:${perfilList}">
				<td>
					<a th:href="@{/dislike(id1=${perfil.id},id2=${perfiles.id})}">Dislike</a><!-- DISLIKE -->
				</td>
				<td><span th:text="${perfiles.nombre}"></span></td>
				<td><span th:text="${perfiles.edad}"></span></td>
				<td><span th:text="${perfiles.genero}"></span></td>
				<td>
					<a th:href="@{/like(id1=${perfil.id},id2=${perfiles.id})}">Like</a><!-- LIKE -->
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</body>
</html>