<div id="box-menu">

    <h1 class="site-logo"><a href="../index.html" class="mb-0">LUCATINDER</a></h1>

<nav id="menu">
    <a routerLink="login" routerLinkActive="active">Login</a> | 
    <a routerLink="add">Registro</a> | 
    <a routerLink="perfilEdit">Modificar perfil</a> | 
    <a routerLink="perfilList">Listado</a> | 
    <a routerLink="perfilMatch">Mis matches</a> | 
</nav>

<!--
    <a hidden routerLink="login" routerLinkActive="active"></a> 
    <a hidden routerLink="add"></a> 
    <a hidden routerLink="perfilEdit"></a> 
    <a hidden routerLink="perfilList"></a> 
    <a hidden routerLink="perfilMatch"></a> 
  -->
<router-outlet></router-outlet>
</div>
